<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAOwAXXCyTV6WPvuFtTSM6tVelKf8GTwMo</string>
	<key>GCM_SENDER_ID</key>
	<string>25153781248</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.foodrecipe</string>
	<key>PROJECT_ID</key>
	<string>food-recipe-3l9yeb</string>
	<key>STORAGE_BUCKET</key>
	<string>food-recipe-3l9yeb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:25153781248:ios:f8cfeaa052fb3c56b3e2e5</string>
</dict>
</plist>